*.class
*.log
*~

# activator specific
activator*

# sbt specific
.history/
.lib/
dist/*
lib_managed/
src_managed/
*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
target/
/logs
.cache
.classpath
.project
.settings

# Scala-IDE specific
.scala_dependencies
.worksheet

#bluecove
bluecove*
