<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="Console"/>
  </root>
</configuration>
